/* Import the base CSS */
@import url("base.css");

/* Page-specific tweaks can go here, like a wavy header or special layout */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Wavy shape for header */
.wave {
  display: block;
  width: 100%;
  height: auto;
  color: rgb(117, 131, 255);
}
